.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
  background-color: cyan;
  width: 300px;
  border-radius: 10px;
  padding: 4px;
  text-align: center;
  font-weight: 700;
  transition: all 0.5s;
}
.backToHome:hover {
  background-color: darkcyan;
  transform: scale(1.1);
}
.backToHome:hover a {
  color: white;
  transform: scale(1.1);
}
